:root {
    --primary-color: #af4c4c;
    --secondary-color: #FF9800;
    --background-color: #000;
    --text-color: #fff;
    --header-color: #3f51b5;
    --sub-header-color: #b3b3b3;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-container {
    padding: 20px;
}

.main-container .ui.image {
    border: 5px solid var(--primary-color);
}

.main-container .ui.header .content {
    color: var(--header-color);
}

.main-container .ui.header .sub.header {
    color: var(--sub-header-color);
}

.main-container .ui.segment {
    background-color: #1a1a1a;
    color: var(--text-color);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.main-container .ui.segment .ui.header {
    color: var(--text-color);
}

.main-container .ui.list .item .content {
    color: var(--text-color);
}

.main-container .ui.icon {
    color: var(--secondary-color);
}

.main-container .ui.button.primary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.main-container .ui.button.primary:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.ui.horizontal.divider.header {
    color: var(--text-color);
}

.contact-list .item {
    color: var(--text-color);
}

.contact-list .item .description {
    color: var(--sub-header-color);
}

.back-button .ui.button.primary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.back-button .ui.button.primary:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}